{{ 'custom.css' | asset_url | stylesheet_tag }}
{% style %}
  .custom-info-image {
    flex: 1;
    height: {{ section.settings.image_height }}px;
    width: {{ section.settings.image_width }}px;
  }
  .custom-info-wrapper--vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .custom-info-wrapper--vertical .custom-info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-info-wrapper--vertical .hero-buttons {
    justify-content: center;
    margin-top: 25px;
  }

  .custom-info-wrapper--vertical .custom-info-image {
    width: 100%;
    max-width: 900px;
  }

  .custom-info-wrapper--vertical .custom-info-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .custom-info-content {
    display: flex;
    flex-direction: column;
  }

  .custom-heading * {
    color: inherit;
  }

  .custom-description * {
    color: inherit;
  }

{% endstyle %}
{% if section.settings.my_custom_image != blank %}
  <div class="custom-info-section layout--{{ section.settings.layout }}" style="
    background: {{ section.settings.background_color }};
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
    min-height:{{ section.settings.section_min_height }}px;
    ">
    <div class="page-width">
      <div class="custom-info-wrapper {% if section.settings.layout == 'text_top_image_bottom' %}custom-info-wrapper--vertical{% endif %}" style="
          gap:{{ section.settings.content_gap }}px;
          {% if section.settings.layout == 'text_top_image_bottom' %}
            align-items:{{ section.settings.content_alignment }};
          {% endif %}
        ">
        {% if section.settings.layout == 'text_top_image_bottom' %}
          <div class="custom-info-wrapper custom-info-wrapper--vertical" style="gap:{{ section.settings.content_gap }}px;">
            <div class="custom-info-content" style=" max-width:{{ section.settings.banner_text_width }}px; text-align:{{ section.settings.text_alignment }}; align-items:{{ section.settings.content_alignment }};">

              <div class="custom-heading" style="color: {{ section.settings.heading_color }};">
                {{ section.settings.heading }}
              </div>
              <div style="color: {{ section.settings.description_color }};" class="custom-description">
                {{ section.settings.description }}
              </div>


              <div class="hero-buttons">
                {% if section.settings.left_button_text != blank %}
                  <a
                    href="{{ section.settings.left_button_link }}"
                    class="hero-btn"
                    style="
                    background:{{ section.settings.button_bg }};
                    color:{{ section.settings.button_text }};
                    border:1px solid {{ section.settings.button_border }};
                    border-radius:{{ section.settings.button_radius }}px;
                    padding:{{ section.settings.button_padding_y }}px {{ section.settings.button_padding_x }}px;
                    text-decoration:{{ section.settings.button_decoration }};
                    font-size:{{ section.settings.button_font_size }}px;
                    font-weight:{{ section.settings.button_weight }};
                  ">
                    {{ section.settings.left_button_text }}
                  </a>
                {% endif %}

                {% if section.settings.right_button_text != blank %}
                  <a
                    href="{{ section.settings.right_button_link }}"
                    class="hero-btn"
                    style="
                    background:{{ section.settings.button_bg }};
                    color:{{ section.settings.button_text }};
                    border:1px solid {{ section.settings.button_border }};
                    border-radius:{{ section.settings.button_radius }}px;
                    padding:{{ section.settings.button_padding_y }}px {{ section.settings.button_padding_x }}px;
                    text-decoration:{{ section.settings.button_decoration }};
                    font-size:{{ section.settings.button_font_size }}px;
                    font-weight:{{ section.settings.button_weight }};
                    ">
                    {{ section.settings.right_button_text }}
                  </a>
                {% endif %}
              </div>
            </div>
            <div class="custom-info-image">
              {{
                section.settings.my_custom_image | image_url: width: 1200 | image_tag: loading: 'lazy'
              }}
            </div>
          </div>


        {% elsif section.settings.layout == 'image_first' %}
          {% comment %} {% if section.settings.layout == 'image_first' %} {% endcomment %}
          <div class="custom-info-image">
            {% if section.settings.my_custom_image %}
              {{
                section.settings.my_custom_image | image_url: width: 800 | image_tag: loading: 'lazy'
              }}
            {% endif %}
          </div>
          <div class="custom-info-content" style="max-width:{{ section.settings.banner_text_width }}px;">
            <div class="custom-heading" style="color: {{ section.settings.heading_color }};">
              {{ section.settings.heading }}
            </div>

            <div style="color: {{ section.settings.description_color }};" class="custom-description">
              {{ section.settings.description }}
            </div>

            <div class="custom-info-buttons">
              <div class="hero-buttons">
                {% if section.settings.left_button_text != blank %}
                  <a
                    href="{{ section.settings.left_button_link }}"
                    class="hero-btn"
                    style="
                      background:{{ section.settings.button_bg }};
                      color:{{ section.settings.button_text }};
                      border:1px solid {{ section.settings.button_border }};
                      border-radius:{{ section.settings.button_radius }}px;
                      padding:{{ section.settings.button_padding_y }}px {{ section.settings.button_padding_x }}px;
                      text-decoration:{{ section.settings.button_decoration }};
                      font-size:{{ section.settings.button_font_size }}px;
                      font-weight:{{ section.settings.button_weight }};
                    ">
                    {{ section.settings.left_button_text }}
                  </a>
                {% endif %}
                {% if section.settings.right_button_text != blank %}
                  <a
                    href="{{ section.settings.right_button_link }}"
                    class="button button--secondary hero-btn"
                    style="
                        background:{{ section.settings.button_bg }};
                        color:{{ section.settings.button_text }};
                        border:1px solid {{ section.settings.button_border }};
                        border-radius:{{ section.settings.button_radius }}px;
                        padding:{{ section.settings.button_padding_y }}px {{ section.settings.button_padding_x }}px;
                        text-decoration:{{ section.settings.button_decoration }};
                      font-size:{{ section.settings.button_font_size }}px;
                      font-weight:{{ section.settings.button_weight }};
                    ">
                    {{ section.settings.right_button_text }}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% else %}
          {% comment %} <div class="custom-info-content" style="max-width:{{ section.settings.banner_text_width }}px;"> {% endcomment %}
          <div class="custom-info-content" style="
                max-width:{{ section.settings.banner_text_width }}px;
                text-align:{{ section.settings.text_alignment }};
              ">
            <div class="custom-heading" style="color: {{ section.settings.heading_color }};">
              {{ section.settings.heading }}
            </div>

            <div style="color: {{ section.settings.description_color }};" class="custom-description">
              {{ section.settings.description }}
            </div>


          </div>
          <div class="custom-info-image">
            {% if section.settings.my_custom_image %}
              {{
                section.settings.my_custom_image | image_url: width: 800 | image_tag: loading: 'lazy'
              }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Custom Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "my_custom_image",
        "label": "Choose Image"
      },
      {
        "label": "Heading",
        "type": "richtext",
        "id": "heading"
      },
      {
        "label": "Description",
        "type": "richtext",
        "id": "description"
      },
      {
        "type": "range",
        "id": "image_height",
        "label": "Image Height",
        "min": 200,
        "max": 800,
        "step": 10,
        "unit": "px",
        "default": 500
      }, {
        "type": "range",
        "id": "image_width",
        "label": "Image Width",
        "min": 200,
        "max": 800,
        "step": 10,
        "unit": "px",
        "default": 500
      }, {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ]
      }, {
        "type": "text",
        "id": "left_button_text",
        "label": "Button Label"
      }, {
        "type": "url",
        "id": "left_button_link",
        "label": "Button Link"
      }, {
        "type": "text",
        "id": "right_button_text",
        "label": "Right Button Label"
      }, {
        "type": "url",
        "id": "right_button_link",
        "label": "Button Link"
      }, {
        "type": "range",
        "id": "banner_text_width",
        "label": "Text Banner Width",
        "min": 0,
        "max": 768,
        "step": 8,
        "unit": "px",
        "default": 560
      }, {
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color",
        "default": "#111111"
      }, {
        "type": "color",
        "id": "description_color",
        "label": "Description Color",
        "default": "#666666"
      }, {
        "type": "color",
        "id": "button_bg",
        "label": "Button Background",
        "default": "#111111"
      }, {
        "type": "color",
        "id": "button_text",
        "label": "Button Text",
        "default": "#ffffff"
      }, {
        "type": "color",
        "id": "button_border",
        "label": "Button Border",
        "default": "#ffffff"
      }, {
        "type": "color",
        "id": "button_hover_bg",
        "label": "Button Hover Background",
        "default": "#ffffff"
      }, {
        "type": "color",
        "id": "button_hover_text",
        "label": "Button Hover Text",
        "default": "#111111"
      }, {
        "type": "select",
        "id": "button_decoration",
        "label": "Text Decoration",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          }, {
            "value": "underline",
            "label": "Underline"
          }, {
            "value": "overline",
            "label": "Overline"
          }, {
            "value": "line-through",
            "label": "Line Through"
          }
        ]
      }, {
        "type": "range",
        "id": "button_font_size",
        "label": "Button Font Size",
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px",
        "default": 14
      }, {
        "type": "range",
        "id": "content_gap",
        "label": "Content Gap",
        "min": 20,
        "max": 150,
        "step": 5,
        "unit": "px",
        "default": 80
      }, {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "image_first",
        "options": [
          {
            "value": "image_first",
            "label": "Image First"
          }, {
            "value": "text_first",
            "label": "Text First"
          }, {
            "value": "text_top_image_bottom",
            "label": "Text Top • Image Bottom"
          }
        ]
      }, {
        "type": "select",
        "id": "content_alignment",
        "label": "Content Alignment",
        "default": "center",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "flex-end",
            "label": "Right"
          }
        ]
      }, {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#111111"
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "default": 50
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "default": 50
      }, {
        "type": "range",
        "id": "section_min_height",
        "label": "Section Minimum Height",
        "min": 100,
        "max": 600,
        "step": 25,
        "unit": "px",
        "default": 200
      }
    ],
    "presets": [
      {
        "name": "Custom Banner"
      }
    ]
  }
{% endschema %}